.taransfer-main-div {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  height: attr(main-div-height);
  width: attr(main-div-width);
}

gs-transfer-list {
  width: 40%;
  border: 1px solid rgb(170, 170, 170);
  margin: 0 0.5rem;
  border-radius: 2px;
}

.transfer-button-group {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
}

.transfer-button {
  margin: 0.2rem;
  position: relative;
  .transfer-icon-right {
    position: absolute;
    right: 5px;
  }
  .transfer-icon-left {
    position: absolute;
    left: 5px;
  }
}

.transfer-list {
  overflow-y: auto;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0.45rem 0.1rem;
    }
  }
}

.transfer-list-title {
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding: 5px;
  border-bottom: 1px solid rgb(228, 225, 225);
}