/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Roboto';
  font-size: 14px;
}

.main-component-div {
  margin: 0.5rem;
}

button {
  background-color: #4CBB17;
  color: white;
  border-radius: 2px;
  border: 1px solid
}

button:hover {
  background-color: #56ca20;
}

button:disabled {
  color: #00000040;
  border-color: #d9d9d9;
  background: #f5f5f5;
}

